<app-header></app-header>

<div class="py-5"></div>

<div class="row justify-content-center">

    <div class="row col-md-8">

<table class="table" >

    <thead class="table-dark">

        <tr style="text-align: center;">

          <th scope="col">Audit_Status_id</th>

          <th scope="col">Checklist_id</th>   
          <th scope="col">Project_id</th>

          <th scope="col">Audit_Status_Response</th>

        </tr>

      </thead>

      <tbody class="table table-dark table-striped">

        <tr style="text-align: center;">

          <th scope="row">1</th>

          <td>ee</td>

          <td>zcgd</td>

          <td>zhgcxg</td>

        </tr>

        <tr style="text-align: center;">

          <th scope="row">2</th>

          <td>dvah</td>

          <td>bsdja</td>

          <td>sbxkj</td>

        </tr>

       

      </tbody>

</table>

    </div>

</div>
